body {
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  text-align: center;
}

.roll-btn {
  padding: 10px 25px;
  background-color: #00c853;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.success-text {
  font-size: 20px;
  color: #00e676;
  font-weight: bold;
  margin-top: 15px;
}

.fail-text {
  font-size: 20px;
  color: #ff5252;
  font-weight: bold;
  margin-top: 15px;
}

.roll-btn:hover {
  background-color: #00e676;
  transform: scale(1.05);
}

.dice-wrapper {
  margin: 20px auto;
}

.dice {
  font-size: 100px;
  margin: 30px auto;
  transition: transform 0.3s;
}

.dice.animate {
  animation: shake 0.8s ease-in-out;
}

.score-text {
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
  color: #00e676;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}
